body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:rgb(122, 122, 202);
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.navbar .logo {
    font-size: 22px;
    font-weight: bold;

}
.nav-links {
    list-style: none;
    gap:20px;
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: 0 0 10px black;
}
.nav-links a:hover {
     background-color:aquamarine;
     border-radius: 10px;
}
.logo:hover{
    color: rgb(173, 168, 168);
}