html, body { 
    height: 100%;
    margin: 0;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:rgb(122, 122, 202);
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.navbar .logo {
    font-size: 22px;
    font-weight: bold;

}
.nav-links {
    list-style: none;
    gap:20px;
    flex-direction:unset;
    
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: 0 0 10px black;
}
.nav-links a:hover {
     background-color:aquamarine;
     border-radius: 10px;
}
main { flex: 1;}

footer {
    background-color: rgb(122, 122, 202);
    padding: 20px 10px;
    text-align: center;
}
.footer-links { 
    margin-bottom: 10px;
}
.footer-link a { color: aliceblue; 
margin: 0 10px; 
text-decoration: none;
opacity: 0.85;
box-shadow: 0 0 10px black;
}
.footer-links a:hover { 
background-color:aquamarine;
border-radius: 10px;
opacity: 1;
text-decoration:underline;
}
.snow-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
z-index: 9999;
}